Destruction/Assets/Sprites/Tileset/tiles
Destruction/export
Destruction/Library/PackageCache
Destruction/Library/Artifacts

Destruction_Godot/Assets/Art/Sprites/Tileset/tiles
HoD/Exports/Debug/HoD.zip
