Destruction/Assets/Sprites/Tileset/tiles
Destruction/export
Destruction/Library/PackageCache
Destruction/Library/Artifacts

Destruction_Godot/Assets/Art/Sprites/Tileset/tiles
HoD/Exports/Debug/HoD.zip
HoD/addons/godot-sqlite/bin/~libgdsqlite.windows.template_debug.x86_64.dll~RF3415ed5.TMP
HoD/Exports/Debug/HoD.console.exe
HoD/Exports/Debug/HoD.exe
HoD/Exports/Debug/HoD.pck
HoD/Exports/Debug/HoD_Debug.zip
HoD/Exports/Debug/libgdsqlite.windows.template_debug.x86_64.dll
HoD/lotus.svg.import
